.navbar{
    background-color:#212121;
    height:80px;
    color:whitesmoke;
    font-size: 3em;
    font-family: 'Permanent Marker', cursive;
    border-bottom:2px solid #407466;
    border-top:2px solid #407466;
    text-align:center;
}