.cahier {
  display: flex;
  flex-direction: row;
  background-color:#212121
}

@media only screen and (max-width: 400px){
  .cahier{
      display:flex;
      flex-direction:column;
      height:700px;
  }
}
